<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Granny's Pies</title>
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="icon" href="static/images/pie-icon.png">

</head>

<body>
  <header>
    <img src="static/images/grannys-pies-logo.jpg" alt="Granny's Pies Logo">
    <h1>Welcome to Granny's Pies</h1>
  </header>

  <main>
    <p>Welcome to Granny's Pies, where we bake pies with love, just like Grandma used to.</p>
    <p>We offer a wide variety of pies, from classic favorites like apple and cherry to more adventurous options like
      pumpkin pecan and lemon meringue.</p>
    <p>All of our pies are made with fresh, local ingredients and baked to perfection.</p>
  </main>

  <nav>
    <a href="pie">View Pie Recipe</a>
  </nav>

  <section>
    <h2>About Granny's Pies</h2>
    <p>Granny's Pies is a family-owned business that has been baking delicious pies for generations. Our recipes are
      crafted with love and the finest ingredients to bring joy to your taste buds.</p>


    <h2>Featured Pie of the Month</h2>
    <p>Try our special Lemon Meringue Pie! It's a perfect balance of sweet and tangy flavors, just like Grandma used to
      make.</p>

  </section>


  <footer>
    <pre class="copyright-notice">
        Copyright © 2022 Granny's Pies
            A Granny's Pies Production
                   All rights reserved
        </pre>
  </footer>
</body>

</html>